/*

selector {
background-img: url(assets/); 
}

background size matters
cover

background position 0% 0% ( X , Y )

opacity: visibility between 1 and 0.0

background-repeat: no-repeat;

*/

body {
  width: 2000px;
  height: 2256px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 2px;
}

.container {
  display: grid;
  grid-column-start: 2;
  height: 100%;
  background: lightgrey;
}

.grid1 {
  border: 1px solid red;
  height: 78px;
}

.grid2 {
  border: 1px solid red;
  height: 45px;
  margin-top: -280px;
}

.flex2 {
  display: flex;
  justify-content: space-evenly;
}

h4 {
  display: flex;
  border: 1px solid green;
  flex-grow: 1;
  justify-content: center;
}

.grid3 {
  border: 1px solid red;
  margin-top: -480px;
}

.grid4 {
  border: 1px solid red;
  justify-content: center;
}

.grid5 {
  border: 1px solid red;
}

.flex5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border: 1px solid red;
}

.topEnd {
  border: 1px solid purple;
}

.bottomEnd {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.grid6 {
  border: 1px solid red;
}

.grid7 {
  border: 1px solid red;
}

.grid8 {
  border: 1px solid red;
}
