/*

selector {
background-image: url("assets/"); 
}

background size matters
cover

background position 0% 0% ( X , Y )

opacity: visibility between 1 and 0.0

background-repeat: no-repeat;

*/

body {
  width: 2000px;
  height: 2256px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 2px;
  background-image: url("assets/bg.jpg");
}

.container {
  display: grid;
  grid-column-start: 2;
  height: 100%;
  gap: 20px 10px;
  grid-template-rows: 70px 40px 360px 20px 350px 475px 300px 365px;
}

.grid1 {
  border: 1px solid red;
  display: grid;
  grid-row: 1;
  height: 78px;
  display: grid;
  grid-template-columns: 500px 500px;
}

.flex1 {
  grid-column-start: 2;
}

.grid2 {
  border: 1px solid red;
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid2 p {
  display: flex;
  border: 1px solid green;
  flex-grow: 1;
  justify-content: center;
  background: red;
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid3 {
  border: 10px solid white;
  display: grid;
  grid-row: 3;
  background-image: url("assets/top-image.png");
  background-position: 31% 25%;
}

.peralta {
  position: relative;
  top: 55px;
  left: 15px;
}

.grid4 {
  display: grid;
  grid-row: 4;
  grid-template-columns: 1fr 1fr 1fr;
}

.radio3 {
  grid-column-start: 2;
  place-self: center;
}

input[type="radio"] {
  height: 16px;
  width: 16px;
}

.grid5 {
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.card {
  display: grid;
  background: white;
  padding: 15px;
}

h3 {
  margin-bottom: 20px;
}

.grid6 {
  border: 1px solid red;
  display: grid;
  grid-row: 6;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header main sidebar"
    "footer footer sidebar";
  gap: 20px 10px;
}

header,
main,
aside,
footer {
  min-height: 100%;
  border: 5px solid white;
}

header {
  grid-area: header;
  color: white;
  background-image: url("assets/sk8er-4.png");
  background-position-x: 95%;
}

main {
  grid-area: main;
  color: white;
  background-image: url("assets/sk8er-3.png");
}

aside {
  grid-area: sidebar;
  color: white;
  background-image: url("assets/sk8er-2.png");
  background-position-x: 78%;
}

footer {
  grid-area: footer;
  color: white;
  background-image: url("assets/sk8er-1.png");
  background-size: 700px 360px;
  background-position: 0% 75%;
}

.grid7 {
  display: grid;
  grid-row: 7;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: white;
}

.grid7 img {
  place-self: center;
}

.grid8 {
  border: 1px solid red;
  display: grid;
  grid-row: 8;
  grid-template-columns: 55% 45%;
  background: white;
}

.contact1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact2 {
  display: grid;
  grid-column-start: 2;
}
